.full_wrapper {
  display: block;
  width: 100%;
  height: 10150px;
  background: #504141;
  background-size: cover;
}

.page_wrapper {
  display: block;
  position: relative;
  width: 1440px;
  height: 10150px;
  background: #FFFFFF;
  background-size: cover;
}

.header {
  position: relative;
  display: block;
  height: 0.82%;
  width: 100%;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 99.18%;
  background: #131313;
  align-items: center;
}

.nav_box {
  position: absolute;
  height: 37px;
  width: 1256px;
  display: flex;
  left: 5.7%;
  right: 6.95%;
  top: 23%;
  justify-content: space-between;
  align-items: center;
}
.nav_box--logo {
  display: block;
  left: 6.34%;
  right: 81.16%;
  top: 99.29%;
  bottom: 0.61%;
  font-family: FuturaDemiC, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}
.nav_box--navbar {
  display: block;
  justify-content: space-between;
}
.nav_box--navbar--list {
  display: flex;
  width: 582px;
  height: 12px;
  text-align: center;
  justify-content: space-between;
}
.nav_box--navbar--list--item {
  display: inline;
  font-family: FuturaBookC, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.nav_box--navbar--list--item a {
  text-decoration: none;
  color: #FFFFFF;
}
.nav_box--call {
  display: block;
  left: 70.6%;
  right: 20.64%;
  top: 99.29%;
  bottom: 0.55%;
  font-family: FuturaDemiC;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  text-decoration-line: underline;
  color: #E3B873;
}
.nav_box--button {
  display: block;
  height: 37px;
  width: 161px;
  padding: 0;
  border: none;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  font-family: FuturaDemiC, sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main_content {
  display: block;
  position: relative;
  width: 100%;
  height: 97.87%;
  margin: 0;
  background: #FFFFFF;
}

.intro_section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 7.6%;
  margin: 0;
  background: #131313;
}
.intro_section--instagram {
  display: block;
  position: relative;
  height: 100%;
  width: 5.7%;
  margin: 0;
}
.intro_section--instagram--cold {
  position: relative;
  transform: rotate(90deg);
  top: 281px;
  left: -5%;
}
.intro_section--instagram--cold--text {
  position: relative;
  font-family: FuturaDemiC, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #E3B873;
  text-decoration: none;
  text-transform: uppercase;
}
.intro_section--instagram--line {
  position: relative;
  display: block;
  width: 13px;
  height: 51px;
  top: 325px;
  left: 43%;
}
.intro_section--introduction {
  display: block;
  height: 100%;
  width: 94.3%;
  background-image: url(./assets/images/FrontPagePic.png);
  background-size: cover;
}
.intro_section--introduction--text {
  display: block;
  justify-content: flex-start;
  height: 105px;
  width: 49.9%;
  left: 4.4%;
  top: 194px;
}
.intro_section--introduction--text--one {
  display: inline-block;
  margin: 0;
  padding-right: 15%;
  font-family: Yeseva One, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.intro_section--introduction--text--two {
  display: inline-block;
  margin: 0;
  padding-right: 25%;
  font-family: FuturaBookC, sans-serif;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}
.intro_section--introduction--buttons {
  display: flex;
  height: 51px;
  width: 35%;
  top: 10%;
  left: 10%;
  justify-content: space-between;
}
.intro_section--introduction--buttons--calculate {
  position: relative;
  display: block;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  width: 47.5%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  font-family: FuturaDemiC, sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
}
.intro_section--scroll {
  display: flex;
  position: absolute;
  height: 97px;
  width: 17.15%;
  top: 10px;
  color: red;
  z-index: 10;
}

.completed_projects {
  display: flex;
  height: 6.7%;
  width: 100%;
  background: #131313;
}

.online_control {
  display: block;
  width: 100%;
  height: 10.9%;
}

.repair_types {
  display: block;
  width: 100%;
  height: 8.6%;
}

.order_cycle {
  display: flex;
  width: 100%;
  height: 8.9%;
  background: url(./assets/images/whiteBackground.png);
}

.fantasies {
  display: grid;
  width: 100%;
  height: 10.2%;
}

.design_project {
  display: grid;
  width: 100%;
  height: 17.6%;
}

.team {
  display: block;
  width: 100%;
  height: 9.2%;
}

.clients {
  display: block;
  width: 100%;
  height: 7.9%;
}

.question_location {
  position: relative;
  width: 100%;
  height: 12.4%;
  background-color: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
  background-image: url(./assets/images/imageBackgroundBuildings.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  position: relative;
  display: block;
  width: 100%;
  height: 1.31%;
  left: -0.07%;
  right: -0.07%;
  top: 98.69%;
  bottom: 0%;
  background: #181818;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
